# Database Configuration
DATABASE_URL="postgresql://username:password@host:5432/database_name"

# Server Configuration
PORT=3000

# Example for NeonDB
# DATABASE_URL="postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require"
